body {
    background: url('bg1.jpg') center;
    background-size: cover;

}

.header h1 {
    position: fixed;
    top: 0;
    height: 5rem;
    backdrop-filter: blur(10px);
}

.header {
    margin-bottom: 100px;
}

.header h1,
.container h1 {
    color: rgb(178, 236, 229);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.form-can {
    background: rgba(0, 0, 0, 0.6);
    color: rgb(146, 216, 216);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

label {
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;
}

input,
textarea {
    height: 3rem;
    width: 60%;
}

.btn,
.cl-btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
}


.popup-msg {
    display: none;
    position: absolute;
    bottom: 0%;
    width: 100%;
}


.details-hidden {
    /* display: none; */
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.up-arrow {
    font-size: 40px;
    color: rgb(116, 253, 246);


}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#scrollToTopBtn.show {
    opacity: 1;
}
